.grid-item {
    box-sizing: border-box;
    border: 1px solid black;
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    border: none;
    background-color: #003566;
}
body {
    display: flex;
    background-color: #264653;
}
.super-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #options {
    direction: flex;
} */
