.grid-item {
    box-sizing: border-box;
    /* border: 1px solid black; */
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    border: none;
    background-color: #003566;
}
body {
    background-color: #264653;
}
.super-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 #options {
    direction: flex;
    flex-wrap: wrap;
    background-color: #003566;
    height: 100px;
    width: 400px;
} 
